<!DOCTYPE html>
<html lang="ko">

<head th:insert="~{fragments/common/head :: head}">

<body>

	<header th:insert="~{fragments/common/header :: header}"></header>

	<main>
		<section class="write-post">
			<div class="container">
				<h2>게시글 수정</h2>

				<form th:action="@{/board/edit}" method="post" th:object="${board}" id="editPostForm" class="post-form" enctype="multipart/form-data">
					<input type="hidden" name="author" th:value="${board.author}">
					<input type="hidden" name="boardId" th:value="${board.boardId}">
					<div class="form-group">
						<label for="postTitle">제목</label>
						<input type="text" id="postTitle" name="title" th:field="*{title}" required>
					</div>

					<div class="form-group">
						<label for="postContent">내용</label>
						<textarea id="postContent" name="content" rows="12" th:field="*{content}" required></textarea>
					</div>

					<div class="form-group">
						<label for="currentFiles">현재 첨부파일</label>
						<div class="current-files" id="currentfilsediv" th:if="${boardFileDTO != null} and ${boardFileDTO.updateName != null}">
							<div class="file-item-preview" style="display: flex;">
								<span class="file-name"  th:text="${boardFileDTO.originName}"></span>
								<button type="button" class="btn-icon remove-file">
									<span class="icon" onclick="filedel()">×</span>
								</button>
								<input type="hidden" name="fileDelete" id="fileDelete" value="false" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<label for="postFiles">새 파일 첨부</label>
						<div class="file-upload">
							<input type="file" id="postFiles" name="file"
							th:disabled="${boardFileDTO != null and boardFileDTO.updateName != null}">
							<div class="file-upload-info">
								<p id="updateFileP">새로운 파일 선택을 원하시면 현재 첨부파일을 삭제해주세요</p>
								<p>지원 형식: jpg, png, gif, pdf, doc, docx, ppt, pptx, xls, xlsx</p>
							</div>
						</div>
						<div id="fileList" class="file-list">
							<!-- 업로드된 파일 목록이 여기에 표시됩니다 -->
						</div>
					</div>

					<div class="form-actions">
						<button type="submit" class="btn btn-primary">수정 완료</button>
						<a onclick="history.back()" class="btn">취소</a>
					</div>
				</form>
			</div>
		</section>
	</main>

	<footer th:insert="~{fragments/common/footer :: footer}"></footer>

</body>

</html>