<th:bolck th:fragment="header">
	<div class="container">
	     <h1 class="logo">
	       <a href="/">커뮤니티</a>
	     </h1>
	     <nav>
	       <ul class="menu">
	         <li><a href="/" class="active">홈</a></li>
	         <li><a href="board.html">게시판</a></li>
	         <li><a href="upload.html">업로드</a></li>
	         <li><a href="#" id="loginBtn">로그인</a></li>
	         <li><a href="/member/register/form">회원가입</a></li>
	         <li>
	           <div class="profile-upload">
	             <div class="profile-preview header-profile" id="profilePreview">
	               <img src="https://api.a0.dev/assets/image?text=기본%20프로필&amp;aspect=1:1" alt="기본 프로필">
	             </div>
	           </div>
	         </li>
	       </ul>
	     </nav>
	   </div>
</th:bolck>