<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="kr.co.community.comment.mapper.CommentMapper">

<insert id="create">
INSERT INTO BOARD_COMMENT VALUES(comment_seq.nextval,
								 #{boardId},
								 #{comment.id},
								 #{comment.author},
								 #{comment.content},
								 DEFAULT,
								 null)
</insert>

<select id="getList">
SELECT comment_id, board_id, author, CONTENT, CREATE_DATE, UPDATE_DATE,
	   row_number() over(ORDER BY create_date)
FROM board_comment
WHERE board_id = #{boardId}
</select>

<select id="commentCount">
SELECT COUNT(*) FROM BOARD_COMMENT WHERE board_id = #{boardId}
</select>

</mapper>