<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="kr.co.community.comment.mapper.CommentMapper">

<insert id="create">
INSERT INTO BOARD_COMMENT VALUES(comment_seq.nextval,
								 #{comment.boardId},
								 #{comment.id},
								 #{comment.author},
								 #{comment.content},
								 DEFAULT,
								 null)
</insert>

<resultMap id="CommentResultMap" type="kr.co.community.comment.dto.CommentDTO">
	<result column="COMMENT_ID" property="commentId" />
	<result column="BOARD_ID" property="boardId" />
	<result column="ID" property="id" />
	<result column="AUTHOR" property="author" />
	<result column="CONTENT" property="content" />
	<result column="CREATE_DATE" property="createDate" />
	<result column="UPDATE_DATE" property="updateDate" />
</resultMap>

<select id="getList" resultMap="CommentResultMap">
SELECT * FROM (
	SELECT comment_id, board_id, id, author, CONTENT, CREATE_DATE, UPDATE_DATE,
			row_number() over(ORDER BY create_date) AS rn
	FROM board_comment bc WHERE board_id = #{boardId})
WHERE rn BETWEEN #{pi.offset} AND #{pi.limit}
</select>

<select id="commentCount">
SELECT COUNT(*) FROM BOARD_COMMENT WHERE board_id = #{boardId}
</select>

<delete id="delete">
DELETE FROM BOARD_COMMENT WHERE COMMENT_ID = #{commentId}
</delete>

<update id="commentEdit">
UPDATE BOARD_COMMENT
SET CONTENT = #{comment.content}
WHERE COMMENT_ID = #{commentId}
</update>

</mapper>