<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="kr.co.community.member.mapper.MemberMapper">

	<insert id="register">
		INSERT INTO MEMBER VALUES(member_seq.nextval,
		#{id},
		#{name},
		#{password},
		DEFAULT,
		DEFAULT,
		null,
		null,
		#{imgName},
		#{imgPath},
		#{email})
	</insert>
		<insert id="termsAgree">
		INSERT INTO AGREE VALUES(agree_seq.nextval,
		(SELECT member_id FROM (
            SELECT member_id FROM MEMBER ORDER BY MEMBER_ID DESC
        ) WHERE ROWNUM = 1),
		(SELECT TERMS_ID FROM
		(SELECT * FROM TERMS
		WHERE TITLE = '이용약관 동의'
		ORDER BY CREATE_DATE DESC)
		WHERE ROWNUM = 1),
		'Y')
	</insert>

		<insert id="privacyAgree">
		INSERT INTO AGREE VALUES(agree_seq.nextval,
		(SELECT member_id FROM (
            SELECT member_id FROM MEMBER ORDER BY MEMBER_ID DESC
        ) WHERE ROWNUM = 1),
		(SELECT TERMS_ID FROM
		(SELECT * FROM TERMS
		WHERE TITLE = '개인정보 수집 및 이용 동의'
		ORDER BY CREATE_DATE DESC)
		WHERE ROWNUM = 1),
		'Y')
	</insert>

	<insert id="marketingAgree">
		INSERT INTO AGREE VALUES(agree_seq.nextval,
		(SELECT member_id FROM (
            SELECT member_id FROM MEMBER ORDER BY MEMBER_ID DESC
        ) WHERE ROWNUM = 1),
		(SELECT TERMS_ID FROM
		(SELECT * FROM TERMS
		WHERE TITLE = '마케팅 정보 수신 동의(선택)'
		ORDER BY CREATE_DATE DESC)
		WHERE ROWNUM = 1),
		#{agreement})
	</insert>
	
	<resultMap id="loginResultMap" type="kr.co.community.member.domain.Member">
		<result column="MEMBER_ID" property="memberId" />
		<result column="ID" property="id" />
		<result column="NAME" property="name" />
		<result column="PASSWORD" property="password" />
		<result column="STATUS" property="status" />
		<result column="CREATED_AT" property="createdAt" />
		<result column="UPDATED_AT" property="updatedAt" />
		<result column="DROP_DATE" property="dropDate" />
		<result column="IMG_NAME" property="imgName" />
		<result column="IMG_PATH" property="imgPath" />
		<result column="EMAIL" property="email" />
	</resultMap>
	
	<select id="login" resultMap="loginResultMap">
		SELECT id, name, password, img_name, img_path, email FROM MEMBER WHERE ID=#{id}
	</select>

</mapper>